@media (max-width: 991px) {
  .btn-menu button {
    display: none;
  }
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  width: 100%;
  background-color: #fafafa !important;
  background-image: url(../images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-position: 130% 5%;

  background-size: 60%;
}
main {
  z-index: 1;
  overflow: hidden;
}
nav {
  z-index: 1000;
  background-color: #ffffff;
}

h1 {
  font-weight: 400;
  font-size: 54px;
}

h3 {
  font-size: 40px;
  font-weight: 300;
}

h5 {
  font-size: 24px;
  font-weight: 300;
}

a:hover {
  color: #5caca1;
}

.collapse {
  background-color: white;
  text-align: center;
}

.navbar-nav {
  margin: 0 auto;
}

.first {
  height: 90vh;
}

.first_block {
  display: flex;
  align-items: center;
}

.right_part {
  overflow: hidden;
}

#mockup {
  margin: -41px;
  height: 110vh;
}

.left_part {
  padding-left: 15%;
  padding-right: 5%;
}

.why {
  background-color: #f4f5f7;
  width: 100%;
}

.why_list_item p {
  font-size: 16px;
  font-weight: 300;
}

.card {
  border: none;
  border-radius: 4px;
  overflow: hidden;
}

.card h5 {
  font-size: 16px;
  font-weight: 300;
}

.card p {
  font-size: 14px;
  font-weight: 300;
  color: #96959a;
}

.cards_articles {
  justify-content: space-around;
}
.card img {
  height: 100%;
}

.name_author {
  font-size: 10px;
  font-weight: 300;
  color: #96959a;
}

footer {
  background-color: #2d314e;
  color: white;
}

footer a {
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts {
  display: flex;
  flex-direction: row;
}

.contact_img {
  padding-right: 14px;
}

.contact_img:hover {
  color: #5caca1;
}

button {
  color: white;
  font-size: 14px;
  font-weight: 700;
  width: 162px;
  height: 44px;
  background: linear-gradient(270deg, #7ad4de 0%, #83e49e 100%);
  border-radius: 25px;
  border: transparent;
}

.foot_col1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
}

.attribution {
  background-color: #43486e;
  color: white;
  text-align: center;
  font-size: 12px;
}

.attribution a {
  color: white;
}
